@use 'variables' as v;
@use 'mixins' as m;

section.projects {
    @include m.section-padding;

    .my-projects {
        color: v.$color-white;
        display: flex;
        gap: v.$spacing-xl;
        justify-content: center;
        flex-wrap: wrap;

        @include m.mobile {
            gap: v.$spacing-md;
            justify-content: space-around;
        }

        @include m.small-mobile {
            flex-direction: column;
            align-items: center;
        }

        li {
            list-style: none;
            width: 141px;
            height: 50px;
            background-image: url('../images/icon.svg');
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 70px;
            font-size: v.$base-font-size;

            @include m.mobile {
                width: 120px;
                font-size: 14px;
                background-size: 40px;
                padding-left: 50px;
            }

            span {
                font-size: 21px;

                @include m.mobile {
                    font-size: 18px;
                }
            }
        }
    }
}