$color-blue: #34547A;
$color-gray: #727272;
$color-white: #FFFFFF;
$color-dark: #000000;
$background-light: #EEEFF1;
$background-gray: #F9F9F9;

$font-primary: 'Roboto', sans-serif;
$base-font-size: 16px;

$container-max-width: 1280px;
$header-padding-bottom: 141px;

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 767px;
$breakpoint-small-mobile: 480px;

$spacing-xs: 15px;
$spacing-sm: 20px;
$spacing-md: 30px;
$spacing-lg: 40px;
$spacing-xl: 50px;
$spacing-xxl: 60px;
$spacing-xxxl: 80px;
$spacing-huge: 100px;